</body>
<footer class="footer footer-expand-lg footer-light bg-gray" style="background-color: #ff9797; ">
  <div class=" fixed-bottom text-center text-md-start ">
    <div class="text-center p-2 text-white" style="font-size: 13px; width: 100%; background-color: rgba(255, 0, 0, 0.2)">© 2022
      Copyright: <a class="text-white" href="http://localhost:3000/user">ExpenseManager.com</a></div>
  </div>
</footer>

</html>